<div id="utterances-container"></div>
<script 
  src="https://utteranc.es/client.js"
  repo="SirRender00/evynmachi.com"
  issue-term="pathname"
  label="comment"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>
